In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_squared_error

In [11]:
data=pd.read_csv(r'C:\Users\Dell\Documents\shifna\car_age_price.csv')

In [13]:
data

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [15]:
data.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [17]:
data.tail()

     Year   Price
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

In [19]:
data.isna().sum()

Year     0
Price    0
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [27]:
data.shape

(112, 2)

In [29]:
data.columns

Index(['Year', 'Price'], dtype='object')

In [31]:
data.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [33]:
x = data[['Year']]
y = data['Price']

In [35]:
x

     Year
0    2018
1    2019
2    2019
3    2018
4    2018
..    ...
107  2016
108  2014
109  2015
110  2016
111  2015

[112 rows x 1 columns]

In [37]:
y

0      465000
1      755000
2      700000
3      465000
4      465000
        ...
107    375000
108    300000
109    425000
110    420000
111    425000
Name: Price, Length: 112, dtype: int64

In [39]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [41]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [43]:
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)

Lasso(alpha=0.1)

In [45]:
lr_predictions = lr_model.predict(X_test)
lasso_predictions = lasso_model.predict(X_test)

In [47]:
lr_mse = mean_squared_error(y_test, lr_predictions)
lasso_mse = mean_squared_error(y_test, lasso_predictions)

In [49]:
lr_mse

4326906256.829671

In [51]:
lasso_mse

4326901608.19506

In [53]:
predicted_price_lr = lr_model.predict([[2022]])
predicted_price_lasso = lasso_model.predict([[2022]])

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

In [55]:
predicted_price_lr

array([743601.61594504])

In [57]:
predicted_price_lasso

array([743601.39177768])